section.hero {
  background-color: #fc5193;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1em;
  height: 20%;
  overflow: hidden;
}

.hero img {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.continent-detail {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.continent-detail h1 {
  font-size: 1.5em;
  font-weight: 700;
}

.continent-detail p {
  margin-top: -0.25em;
}
